*.lock
*.properties
*.index
*.snap
*.prefs
*.dat
*.project
*.ini
*.running
*.log
*.resources
*.zip
*.xml
*.mark
*.txt
*.xmi
*.gen
*.classpath
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
/build
 
 
 
