*.lock
*.properties
*.index
*.snap
*.prefs
*.dat
*.project
*.ini
*.running
*.log
*.resources
*.zip
*.xml
*.mark
*.txt
*.xmi
*.gen
*.classpath
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.mylyn/.taskListIndex/segments_1